* {
    background-color: #2c2c2c;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: aliceblue;
    line-height: 75px;
}
a:hover {
    color: #ff7a7a;
}
nav li:first-child {
    float: left; 
}
nav li {
    display: inline-block;
    padding-right: 7%;
    margin: 10px 0 0 0;
    font-size: 36px;
}
section {
    font-size: 70px;
    text-align: center;
}