* {
    background-color: #222;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    line-height: 75px;
}

a {
    text-transform:uppercase;
    color: #fff;
    transition: all .2s ease-in-out;
}
a:hover {
    color: #ff4473;
    transform: scale(1.15);
}

nav li:first-child {
    float: left;
}
nav li {
    display: inline-block;
    padding-right: 7%;
    margin: 0;
    font-size: 36px;
}
section {
    font-size: 70px;
    text-align: center;
}

iframe {
    border: 10px solid #fff;
    border-style: dashed;
    border-radius: 75px
}
